<div class="col-sm-12 box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Advertise</h3>

        <div class="box-tools pull-right">

        </div>
    </div>

    <div class="box-body" style="display: block;">

        <div class="row">
            <div class="col-sm-12">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Device:</label>

                                <select ui-select2 name="deviceId" ng-model="announcement.deviceId"
                                        data-ng-click="changeDeviceObject()"
                                        class="form-control">
                                    <option value=""></option>
                                    <option value="{{ device.id }}" ng-repeat="device in devicesList">{{
                                        device.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Name:</label>
                                <input ng-model="announcement.name" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Price:</label>
                                <input ng-model="announcement.price" class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-11">
                            <div class="form-group">
                                <label>Short description:</label>
                                <textarea ng-model="announcement.shortDescription"
                                          class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="form-group">
                                <label>Description:</label>
                                <textarea rows="6" ng-model="announcement.description"
                                          class="form-control"></textarea>

                            </div>
                        </div>
                    </div>


                </form>
            </div>


        </div>

    </div>

</div>