<div class="modal-content">
    <div class="modal-header">
        <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Brand Categories</h4>
    </div>
    <div class="modal-body">

        <div class="rows">
            <div class="row">
                <div class="col-sm-6">
                    <div class="tags">
                        <p>
                            <a class=" bg-green-gradient" ng-repeat="category in brandCategories"
                               ng-click="deleteCategory(category)">
                                {{category.name}}
                            </a>
                        </p>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="tags">
                        <p>
                            <a class="bg-red-gradient"
                               ng-repeat="category in categories"
                               ng-click="selectCategory(category)">
                                {{category.name}}
                            </a>
                        </p>

                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" ng-click="resetDefault()" class="btn btn-default">Reset</button>
        <button type="button" class="btn btn-primary" ng-click="closeAndReturnCategories()">Save changes</button>
    </div>
</div>
