<div id="wrapper1">

    <header-backend></header-backend>

    <siderbar-backend></siderbar-backend>

    <div id="page-wrapper" style="min-height: 700px;">

        <div ui-view></div>

    </div>

</div>


<!--<div class="contAainer">-->
<!--<header-backend></header-backend>-->

<!--<siderbar-backend></siderbar-backend>-->

<!--<div id="page-wrapper-backend">-->
<!--<div class="row">-->
<!--<div class="col-lg-12">-->
<!--<h1 class="page-header"></h1>-->
<!--</div>-->

<!--</div>-->
<!--<div ui-view></div>-->

<!--</div>-->

<!--</div>-->