<div class="row">

    <div class="col-sm-12">
        <div class="box box-danger">

            <ol class="breadcrumb">
                <li ui-sref="frontend.categories.view({id:device.categoryId.id})"><a><i class="fa fa-dashboard"></i>
                    {{device.categoryId.name}} </a></li>
                <li><a ui-sref="frontend.brands.view({id:device.brand.id})">{{device.brand.name}}</a>
                </li>
                <li><a ui-sref="frontend.products.view({id:device.product.id,brand_id:device.brand.id})">{{device.product.name}}</a>
                </li>
                <li class="active">{{device.name}}
                </li>
            </ol>


        </div>
    </div>
    <div class="col-sm-12" ng-if="device.images.length">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Photos</h3>

                <div class="box-tools pull-right">

                </div>
            </div>

            <div class="box-body" style="display: block;">

                <div ng-model="device.images"
                     class="device-images clearfix">

                    <div class="product-image"
                         ng-repeat="image in device.images">

                        <a href="" ng-click="choiceImage(image)">
                            <img ng-if="$index==0" class="product-img-sm" data-ng-src="{{image.url}}"
                                 data-title="Default">
                            <img ng-if="$index>0" class="product-img-sm" data-ng-src="{{image.url}}">
                            <span ng-if="$index==0" class="product-default">Default</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>


    </div>


</div>


<div ng-include="'frontend/devices/devices-view/_partial-templates/device_details.html'"></div>
<div class="row">

    <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-12">

                <div ng-include="'frontend/devices/devices-view/_partial-templates/device-view.html'"></div>


            </div>
            <div class="col-sm-12">
                <div ng-include="'frontend/devices/devices-view/_partial-templates/socials-share.html'"></div>
            </div>
            <div class="col-sm-12">
                <div ng-include="'frontend/devices/devices-view/_partial-templates/suggested-announcements.html'"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">

            <div class="col-sm-12">
                <div ng-include="'frontend/devices/devices-view/_partial-templates/device-ca.html'"></div>
            </div>


            <div class="col-sm-12">


            </div>


        </div>
    </div>


</div>