<div class="row">
    <div class=col-sm-12>
        <div class="box-tools">

            <a class=" pull-right btn btn-success" ng-click="UploadFile.open()">Upload</a>

        </div>
    </div>
    <div class=col-sm-12>

    </div>
    <div class=col-sm-12>
        <div ng-model="profile.images"
             class="device-images clearfix">

            <div class="product-image"
                 ng-repeat="image in profile.images">

                <a href="" ng-click="choiceImage(image)">
                    <img ng-if="$index==0" class="product-img-sm" data-ng-src="{{image.url}}"
                         data-title="Default">
                    <img ng-if="$index>0" class="product-img-sm" data-ng-src="{{image.url}}">
                    <span ng-if="$index==0" class="product-default">Default</span>
                </a>
            </div>
        </div>
    </div>
    <div class=col-sm-12>

    </div>
</div>
